<footer class="footer">
  <span class= "footer__separator"></span>
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <h3 class="footer__title h3">Contato</h3>
        <span class="footer__info">ola@gbrl.work</span>
      </li>
      <li class="footer__item">
        <h3 class="footer__title h3">Behance</h3>
        <span>
          <a class="footer__link" href="https://www.behance.net/gbrlpires">behance.net/gbrlpires</a>
        </span>
      </li>
      <li class="footer__item">
        <h3 class="footer__title h3">Linkedin</h3>
        <span>
          <a class="footer__link" href="https://www.linkedin.com/in/gbrlpires/">linkedin.com/in/gbrlpires</a>
        </span>
      </li>
      <li class="footer__item">
        <h3 class="footer__title h3">Instagram</h3>
        <span>
          <a class="footer__link" href="https://www.instagram.com/_gbrlpires/">@_gbrlpires</a>
        </span>
      </li>
      <li class="footer__item">
        <h3 class="footer__title h3">{{ now.Format "2006" }}</h3>
      </li>
    </ul>
  </div>
</footer>
