.footer {
  @include space-top-tiny;
  @include space-bottom-medium;
}

.footer__title,
.footer__info {
  color: $color-primary;
}

.footer__list {
  @include flex-space-between;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.footer__item {
  @include space-top-micro;
  @include space-bottom-tiny;
  line-height: 1.3;
}

.footer__link,
.footer__info {
  font-size: $text-small;
  color: $color-primary;
  vertical-align: baseline;
  border: none;

  &:hover {
    color: $color-primary;
    border: none;
  }
}

.footer__link:hover {
  text-decoration: underline;
}
