.header {
  font-family: geomanist-medium;
  font-size: 1.3em;
  color: $color-primary;
  width: 100%;
}

.header__container {
  @include flex-space-between;
  @include space-top-tiny;
  @include space-bottom-tiny;
}

.nav__item {
  text-align: right;
  display: block;

  @include for-tablet-up {
    display: inline-block;
    padding: 0 0.5em;
  }
}

.nav__item:first-child {
  padding-left: 0;
}

.nav__item:last-child {
  padding-right: 0;
}

.home__link,
.nav__link {
  font-size: inherit;
  color: $color-primary;
  border: none;
  transition: ease-in-out 0.1s;
}

.nav__link:hover {
  text-decoration: underline;
  color: $color-primary;
  border: none;
}

.home__link:hover {
  border: none;
  color: $color-primary;
}
