html, body {
  overflow-x: hidden;
}

html {
  background-color: $color-secondary;
}

a {
  font-family: InterTight-Medium;
  text-decoration: none;
  color: $color-primary;
  vertical-align: super;
  font-size: 1.3rem;
  border-bottom: 3px solid $color-primary;
  transition: ease-in-out 0.1s;
}

a:hover {
  color: $color-tertiary;
  border-bottom: 3px solid $color-tertiary;

}

a:visited {
  color: none;
}

ul, ol {
  list-style: circle inside;
  font-size: $text-body-mobile;

  margin: 0;
  padding: 0;
  @include space-top-micro;
  @include space-bottom-tiny;

  @include for-tablet-up {
    font-size: $text-body;
  }
}

p {
  @include space-top-micro;
  @include space-bottom-tiny;
}

figcaption {
  @include space-bottom-tiny;

  @include for-tablet-up {
    width: 80%;
  }
}

figcaption p {
  font-size: $text-caption;
}

iframe {
  @include space-top-tiny;
  @include space-bottom-tiny;
}

pre {
  background-color: #282828;
  padding: 16px 12px;
  margin-top: 8px;
  margin-bottom: 20px;
}

em, .em {
  font-style: italic;
}

strong, .strong {
  font-family: InterTight-Medium;
}

blockquote, .blockquote {
  font-size: 14px;
  font-style: normal;
  padding: 0;
  @include for-tablet-up {
    padding: 0 8em;
  }
}

.container {
  padding: 0 20px;
}

.container--offset {
  padding: 0;
}

.header--height-offset {
  padding-top: 280px;
  @include for-tablet-up {
    padding-top: 90px;
  }
}

.grid-col-span-2 {
  grid-column: span 2;
}

.separator {
  width: 100%;
  display: block;
  border-top: 1px solid $color-primary;
  padding: 10px 0 10px 0;
}

.text-icon {
  font-size: 28px;
  vertical-align: middle;
}
