html {
  background-color: $color-secondary;
}

.container {
  padding: 0 0.8em;
}

.container--compensation {
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
