@font-face {
    font-family: 'InterTight-Regular';
    src: url('../fonts/InterTight-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InterTight-Medium';
    src: url('../fonts/InterTight-Medium.ttf') format('truetype');
}
