html {
  font-family: InterTight-Regular;
  font-size: $text-base;
  color: $color-tertiary;
}

.p, p {
  line-height: 1.4;
  font-size: $text-body-mobile;

  @include for-tablet-up {
    font-size: $text-body;
  }
}

.p--dark {
  color: $color-primary;
}

.h1,h1 {
  font-family: InterTight-Medium;
  font-size: 2.5rem;
  line-height: 1.1;

  @include for-tablet-up {
    font-size: 4rem;
  }
}

.h2,h2 {
  font-family: InterTight-Medium;
  font-size: 2rem;
  line-height: 1.3;
  @include space-top-medium;
}

.h2--bigger {
  font-family: InterTight-Medium;
  font-size: 3rem;
  line-height: 1.1;
  @include space-bottom-tiny;

  @include for-tablet-up {
    font-size: 4rem;
  }
}

.h3,h3 {
  font-family: InterTight-Medium;
  font-size: 1.4rem;
  text-transform: uppercase;
  @include space-top-tiny;
}

.h4,h4 {
  font-family: InterTight-Medium;
  font-size: 2rem;
  line-height: 1.3;
}

.h5,h5 {
  font-family: InterTight-Medium;
  font-size: 1.4rem;
}
