html {
  font-family: geomanist-medium;
  color: $color-tertiary;
}

p {
  font-size: $text-body;
}

.h1,h1 {
  font-family: geomanist-book;
  font-size: 4em;
}

.h2,h2 {
  font-size: 4em;
}

.h3,h3 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.h4,h4 {
  font-family: geomanist-book;
  font-size: 2em;
}

.h5,h5 {
  font-size: 1.2em;
}
