html {
  font-family: geomanist-book;
  color: $color-tertiary;
}

.h1,h1 {
  font-size: 4em;
}

.h2,h2 {
  font-size: 4em;
}

.h3,h3 {
  font-size: 2em;;
}

.h4,h4 {
  font-size: 1.5em;
}

.h5,h5 {
  font-size: 1.2em;
  text-transform: uppercase
}
