.breadcrumb {
  list-style: none;
  text-transform: uppercase;

  @include flex-start-wrap;
  @include space-top-tiny;
  @include space-bottom-tiny;
}

.breadcrumb a {
  border: none;
  vertical-align: inherit;
  font-size: 18px;
}

.breadcrumb li + li:before {
  content: ">";
  padding: 0.3rem;
  font-size: 18px;
  color: $color-primary;
}
