.meta__content {
  line-height: 1;
  @include space-bottom-micro;
  @include space-top-tiny;
}

.meta__client {
  @include space-bottom-micro;
}

.meta__title {
  line-height: 1.2;
  @include space-bottom-micro;
}

.meta__title a {
  font-size: inherit;
  color: $color-tertiary;
  vertical-align: baseline;
  border: none;
}

.meta__taxonomies {
  @include flex-start-wrap;
}
