.tag-aside__container {
  @include space-bottom-tiny;
  @include for-tablet-landscape-up {
    margin-top: 113px;
    margin-left: 60px;
  }
}

.tag-aside__title {
  color: $color-primary;
}

.tag-aside__list {
  font-size: $text-base;
  list-style: none;

  @include flex-start-wrap;
  @include for-tablet-landscape-up {
    display: inherit;
  }
}

.tag-aside__item {
  padding-right: 1em;
  @include for-tablet-landscape-up {
    padding-right: 0;
    padding-top: 0.3em;
  }
}

.tag-aside__item a {
  color: $color-primary;
  vertical-align: baseline;
  font-size: inherit;
  border: none;
  }
