{{ partial "core/head.html" . }}
{{ partial "core/header.html" . }}
<main class="home container">
  <section class="home__hero">
    <h1 class="h1 hero__title">
      gabriela pires <br>
      design visual & <br>
      ilustração
    </h1>
    <div class="hero__img"
      style="background: url('default.jpg');
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;"
      alt="">
    </div>
  </section>
  <section class="grid-card--2-col-desktop">
    {{ with .Site.GetPage "/projetos" }}
      {{ range .Pages }}
        {{ partial "widgets/card.html" . }}
      {{ end }}
    {{ end }}
  </section>
  <section class="home__res-about">
    <span class="separator"></span>
    <article class="res-about__wrapper">
      <div class="res-about__content">
        <h3 class="h3 res-about__title">sobre</h3>
        {{ .Content }}
        <div class="res-about__link">
          <a href="sobre">leia mais</a>
          <span class="link__decor-01">&#10154;</span>
        </div>
      </div>
      <div class="img__wrapper">
        <div class="res-about__img"
          style="background: url('profile.png');
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;"
          alt="">
        </div>
        <div class="img__credit">foto: guilherme vieira </div>
      </div>
    </article>
  </section>
</main>
{{ partial "core/footer"}}
