.header {
  font-family: geomanist-medium;
  font-size: 1.3em;
  color: $color-primary;
  width: 100%;
}

.header__container {
  @include flex-space-between;
  padding-top: 32px;
  padding-bottom: 12px;
}

.nav__item {
  text-align: right;
  display: block;

  @include for-tablet-up {
    display: inline-block;
    padding: 0 0.5em;
  }
}

.nav__item:first-child {
  padding-left: 0;
}

.nav__item:last-child {
  padding-right: 0;
}

.logo,
.nav__link {
  color: $color-primary;
}

.nav__link:hover {
  color: $color-secondary;
  box-shadow: inset 0px -24px $color-primary;
}
