@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin flex-start-wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}


// -- BREAKPOINTS --
@mixin for-tablet-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
