// -- FLEXBOXES --
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin flex-start-wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

// -- GRIDS

@mixin grid-1-col {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
}

@mixin grid-2-col {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr)
}

@mixin grid-3-col {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr)
}

@mixin grid-4-col {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr)
}

// -- BREAKPOINTS --
@mixin for-tablet-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

// -- SPACES --
@mixin space-bottom-micro {
  padding-bottom: 10px;
}

@mixin space-bottom-tiny {
  padding-bottom: 20px;
}

@mixin space-bottom-medium {
  padding-bottom: 48px;
}

@mixin space-bottom-large {
  padding-bottom: 72px;
}

@mixin space-top-micro {
  padding-top: 10px;
}

@mixin space-top-tiny {
  padding-top: 20px;
}

@mixin space-top-medium {
  padding-top: 48px;
}

@mixin space-top-large {
  padding-top: 72px;
}
