$color-primary: #7EC3DF;
$color-secondary: #1c1c1c;
$color-tertiary: #f1f1f1;

$text-base: 16px;
$text-body: 1.5rem;
$text-body-mobile: 1.3rem;
$text-label: 1.2rem;
$text-small: 1.2rem;
$text-caption: 1.2rem;
