<section class="filter container">
  {{ if eq .Section "projetos" }}
    <h3 class="filter__title h3">categorias</h3>
  {{ else }}
    <h3 class="filter__title h3">outras categorias</h3>
  {{ end }}

  <div class="taxonomies__wrapper">
    <ul class="taxonomies__list">
      {{ range .Site.Taxonomies.categories.Alphabetical }}
      <li class="taxonomies__item">{{ partial "widgets/label.html" . }}</li>
      {{ end }}
    </ul>
    <h5 class="item__title h5">por área</h5>
  </div>

  <div class="taxonomies__wrapper">
    <ul class="taxonomies__list">
      {{ range .Site.Taxonomies.colabs.Alphabetical }}
      <li class="taxonomies__item">{{ partial "widgets/label.html" . }}</li>
      {{ end }}
    </ul>
    <h5 class="item__title h5">por colaboração</h5>
  </div>
</section>
<span class="separator"></span>
