@font-face {
    font-family: 'geomanistblack';
    src: url('../fonts/geomanist-black-webfont.eot');
    src: url('../fonts/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-black-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-black-webfont.woff') format('woff'),
         url('../fonts/geomanist-black-webfont.ttf') format('truetype');
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbook';
    src: url('../fonts/geomanist-book-webfont.eot');
    src: url('../fonts/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-book-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-book-webfont.woff') format('woff'),
         url('../fonts/geomanist-book-webfont.ttf') format('truetype');
    font-weight: book;
    font-style: normal;

}
